<form action="/robots/<%= @robot.id %>" method="post">
  <p>Edit Robot</p>
  <input type="hidden" name="_method" value="PUT">
  <p>Name: <input type="text" name="robot[name]" value="<%= @robot.name %>"></p>
  <p>City: <input type="text" name="robot[city]" value="<%= @robot.city %>"></p>
  <p>State: <input type="text" name="robot[state]" value="<%= @robot.state %>"></p>
  <p>Avatar: <input type="text" name="robot[avatar]" value="<%= @robot.avatar %>"></p>
  <p>Birthdate: <input type="text" name="robot[birthdate]" value="<%= @robot.birthdate %>"></p>
  <p>Date Hired: <input type="text" name="robot[date_hired]" value="<%= @robot.date_hired %>"></p>
  <p>Department: <input type="text" name="robot[department]" value="<%= @robot.department %>"></p>
  <input type="submit", value="submit changes">
</form>
