<a href="/robots">Robot Roster</a>

<h1>Name: <%= @robot.name %></h1>

<p>City: <%= @robot.city %></p>
<p>State: <%= @robot.state %></p>
<p>Avatar: <%= @robot.avatar %></p>
<p>Birthdate: <%= @robot.birthdate %></p>
<p>Date Hired: <%= @robot.date_hired %></p>
<p>Department: <%= @robot.department %></p>
